.input,.output{
	width: 140px;
	border: 2px solid black;
	border-collapse: separate;
	height: 20px
}
.output{
	border-top: none;
}
.input{
	border-bottom: none;
}
.container{
	height: 100vh;
	align-items: center;
	background-color:  #97dfe8;
	flex-direction: column;
}
#h{
	border: 2px solid black;
    width: 144px;
    padding: 5px;
    margin: 10px;
    /*height: 100px;*/
    min-height: 100px;
    max-height: 250px;
    /*overflow: scroll;
*/}
h5{
	text-decoration: underline;
}
/*.clears{
	width: 90px;
}*/